{# Calculate Days paused #}
{% set date_paused = paused_start|date('d-m-Y') %}
{% set date_resumed = paused_end|date('d-m-Y') %}
{% set paused_time = date(date_paused).diff(date(date_resumed)) %}
{% set paused_days = paused_time.days %}

{# Calculate Days Left #}
{% set due_date = must_have_date|date('d-m-Y') %}
{% set today = "now"|date('d-m-Y') %}
{% set difference = date(today).diff(date(due_date)) %}
{% set daysLeft = difference.days %}

<main class="content-main">
  <section class="content-secondary">
    <div class="tab">
      <a class="tab__link" href="/pattern-lab/public/patterns/05-pages-status/05-pages-status.html">Status</a></div>
    <div class="tab active">
      <a class="tab__link" href="#">Dates</a></div>
    <div class="tab">
      <a class="tab__link" href="/pattern-lab/public/patterns/05-pages-financials/05-pages-financials.html">Financials</a></div>
    <div class="tab">
      <a class="tab__link" href="/pattern-lab/public/patterns/05-pages-contacts/05-pages-contacts.html">Contacts</a></div>
    <div class="tab">
      <a class="tab__link" href="/pattern-lab/public/patterns/05-pages-project-details/05-pages-project-details.html">Project Details</a></div>
    <div class="tab">
      <a class="tab__link" href="/pattern-lab/public/patterns/05-pages-general-notes/05-pages-general-notes.html">General Notes</a></div>
    <div class="add-tab">
      <a href="#">Add a new section</a>
    </div>
  </section>
  <section class="content-primary">
    <div class="date">
      <p class="field-label">Date Assigned</p>
      <input class="form-date" type="date" min="1900-01-01" max="2050-12-31" value="2018-01-07" size="12" required="required" aria-required="true">
    </div>
    <div class="date">
      <p class="field-label">Must Have Date</p>
      <input class="form-date" type="date" min="1900-01-01" max="2050-12-31" value="{{ must_have_date }}" size="12" required="required" aria-required="true">
    </div>
    <div class="date">
      <p class="field-label">Pause Start</p>
      <input class="form-date" type="date" min="1900-01-01" max="2050-12-31" value="{{ paused_start }}" size="12" required="required" aria-required="true">
    </div>
    <div class="date">
      <p class="field-label">Pause End</p>
      <input class="form-date" type="date" min="1900-01-01" max="2050-12-31" value="{{ paused_end }}" size="12" required="required" aria-required="true">
    </div>
    <div class="date">
      <p class="field-label">Follow-up Date</p>
      <input class="form-date" type="date" min="1900-01-01" max="2050-12-31" value="{{ follow_up_date }}" size="12" required="required" aria-required="true">
    </div>
    <div class="date">
      <p class="field-label">Paused Days</p>
      <p>{{ paused_days }}</p>
    </div>
    <div class="date">
      <p class="field-label">Expected End Date</p>
      <p>{{ must_have_date|date('M d Y') }}</p>
    </div>
    <div class="date">
      <p class="field-label">Business Days Left</p>
      {% if due_date == today %}
        <p>Due Today!</p>
      {% else %}
        <p>{{ daysLeft }} days</p>
      {% endif %}
    </div>
    <div class="date">
      <p class="field-label">Need to be paused</p>
      <p>No</p>
    </div>
    <div class="add-field">
      <a href="#">Add a new field</a>
      {% include "@molecules/dropdown.twig" %}
    </div>
  </section>
</main>
